body {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box
}

#wrapper {
    background-color: #333333;
    text-align: center;

}

h2, h4 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

/*Forms and Buttons start*/


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #222222;
    display: inline-block;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100px;
    opacity: 0.9;
}

button:hover {
    background-color: #FFA500;
}

/* Extra styles for the cancel button */
.cancelbtn1 {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn1, .signupbtn1 {
    float: left;
    width: 50%;
}

/* Extra styles for cancelbtn2 */
.cancelbtn2 {
    padding: 14px 20px;
    background-color: #f44336;
    height: 50px;
}

/* Extra styles for GenderButton*/
.GenderButton {
    width: 49%;
}

/* Extra styles for AgeButton*/
.AgeButton {
    width: 33%;
}

/* Extra styles for GoalButton*/
.GoalButton {
    width: 49%;
}

/* Extra styles for ExpButton*/
.ExpButton {
    width: 49%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for buttons on extra small screens */
@media only screen and (max-width: 1310px) {
    .AgeButton {
        width: 49%;
    }
}

@media only screen and (max-width: 900px) {
    .GenderButton {
        width: 100%;
    }

    .ExpButton {
        width: 100%;
    }

    .GoalButton {
        width: 100%;
    }

    .AgeButton {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}